In [17]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
ggpdir=os.path.dirname(grandparentdir)

sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)
sys.path.insert(0, ggpdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [46]:
df_gdp_hist = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/historical/gdp_mmm_usd.csv')
df_gdp_proj = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/projected/gdp_mmm_usd.csv')

nation_gdp = sorted(set(df_gdp_proj['Nation'].values))

years_all = range(min(df_gdp_hist['Year'].values),max(df_gdp_proj['Year'].values)+1)
c_y_gdp = []
for c in nation_gdp:
    for y in years_all:
    
        try:
            gdp = df_gdp_hist.loc[(df_gdp_hist['Nation']==c) & (df_gdp_hist['Year']==y),]['gdp_mmm_usd'].values[0]
            
        except:
            gdp = df_gdp_proj.loc[(df_gdp_proj['Nation']==c) & (df_gdp_proj['Year']==y)]['gdp_mmm_usd'].values[0]
            
        c_y_gdp.append([c,y,gdp])

df_gdp_all = pd.DataFrame(c_y_gdp,columns=['Nation', 'Year', 'gdp_mmm_usd'])
df_gdp_all

           Nation  Year  gdp_mmm_usd
0     Afghanistan  2010    32.652969
1     Afghanistan  2011    35.369178
2     Afghanistan  2012    38.085386
3     Afghanistan  2013    40.801594
4     Afghanistan  2014    43.517802
...           ...   ...          ...
7498     Zimbabwe  2046    24.382002
7499     Zimbabwe  2047    26.002852
7500     Zimbabwe  2048    27.623703
7501     Zimbabwe  2049    29.244553
7502     Zimbabwe  2050    30.865404

[7503 rows x 3 columns]

In [45]:
#Rural population
df_popru_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/historical/population_gnrl_rural.csv')
df_popru_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/projected/population_gnrl_rural.csv')

#Urban population
df_popur_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/historical/population_gnrl_urban.csv')
df_popur_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/projected/population_gnrl_urban.csv')

nation_pop = sorted(set(df_popur_proj['Nation'].values))

years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop = []
for c in nation_pop:
    for y in years_all:
    
        try:
            pop_ur = df_popur_hist.loc[(df_popur_hist['Nation']==c) &
                                       (df_popur_hist['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_hist.loc[(df_popru_hist['Nation']==c) &
                                       (df_popru_hist['Year']==y),]['population_gnrl_rural'].values[0]
            
        except:
            pop_ur = df_popur_proj.loc[(df_popur_proj['Nation']==c) &
                                       (df_popur_proj['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_proj.loc[(df_popru_proj['Nation']==c) &
                                       (df_popru_proj['Year']==y),]['population_gnrl_rural'].values[0]
            
        c_y_pop.append([c,y,pop_ur,pop_ru])

df_pop_all = pd.DataFrame(c_y_pop,columns=['Nation', 'Year', 'population_gnrl_urban','population_gnrl_rural'])
df_pop_all

           Nation  Year  population_gnrl_urban  population_gnrl_rural
0     Afghanistan  2011           7.212518e+06           2.290489e+07
1     Afghanistan  2012           7.528589e+06           2.363279e+07
2     Afghanistan  2013           7.865068e+06           2.440452e+07
3     Afghanistan  2014           8.204880e+06           2.516592e+07
4     Afghanistan  2015           8.535606e+06           2.587800e+07
...           ...   ...                    ...                    ...
7275     Zimbabwe  2046           5.352032e+06           7.863317e+06
7276     Zimbabwe  2047           5.384492e+06           7.807897e+06
7277     Zimbabwe  2048           5.416953e+06           7.752477e+06
7278     Zimbabwe  2049           5.449414e+06           7.697057e+06
7279     Zimbabwe  2050           5.481874e+06           7.641637e+06

[7280 rows x 4 columns]

In [50]:
nation_pop_gdp = sorted(set(nation_pop).intersection(set(nation_gdp)))
years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop_gdp = []
for c in nation_pop_gdp:
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp])
df_pop_gdp_all = pd.DataFrame(c_y_pop_gdp,columns=['Nation', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd'])
df_pop_gdp_all

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd
0,Afghanistan,2011,7.212518e+06,2.290489e+07,35.369178
1,Afghanistan,2012,7.528589e+06,2.363279e+07,38.085386
2,Afghanistan,2013,7.865068e+06,2.440452e+07,40.801594
3,Afghanistan,2014,8.204880e+06,2.516592e+07,43.517802
4,Afghanistan,2015,8.535606e+06,2.587800e+07,46.234010
...,...,...,...,...,...
7275,Zimbabwe,2046,5.352032e+06,7.863317e+06,24.382002
7276,Zimbabwe,2047,5.384492e+06,7.807897e+06,26.002852
7277,Zimbabwe,2048,5.416953e+06,7.752477e+06,27.623703
7278,Zimbabwe,2049,5.449414e+06,7.697057e+06,29.244553
7279,Zimbabwe,2050,5.481874e+06,7.641637e+06,30.865404

In [4]:
#df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei=pd.read_csv("../row_data/IEA_Energy_Industry.csv")

df_eei

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,Manufacturing [ISIC 10-18; 20-32],Oil and oil products (PJ) ...,117.58,91.59,88.38,111.41,122.11,129.29,133.41,...,161.91,179.86,155.11,155.37,118.72,106.86,97.51,101.08,100.39,97.74
1,Australia,Manufacturing [ISIC 10-18; 20-32],Gas (PJ) ...,314.61,339.39,338.58,343.29,352.22,325.43,322.22,...,330.12,325.92,339.72,346.59,334.74,322.67,309.67,311.85,298.23,303.55
2,Australia,Manufacturing [ISIC 10-18; 20-32],Coal and coal products (PJ) ...,231.33,201.89,178.75,209.41,223.34,226.59,225.07,...,230.37,191.49,184.76,177.97,170.35,197.53,208.32,205.26,196.51,190.24
3,Australia,Manufacturing [ISIC 10-18; 20-32],Biofuels and waste (PJ) ...,96.47,94.43,99.89,101.47,104.3,109.06,110.25,...,104.6,104.29,112.36,105.27,115.61,115.49,124.1,112.09,103.36,98.69
4,Australia,Manufacturing [ISIC 10-18; 20-32],Heat (PJ) ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,Uzbekistan,Construction [ISIC 41-43],Biofuels and waste (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9756,Uzbekistan,Construction [ISIC 41-43],Heat (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9757,Uzbekistan,Construction [ISIC 41-43],Electricity (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0.51,0.42,0.28,0.46,..,..,..
9758,Uzbekistan,Construction [ISIC 41-43],Other sources (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0.01,0,..,..,..
9759,Uzbekistan,Construction [ISIC 41-43],Total final energy use (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,6.85,6.54,6.23,9.44,..,..,..

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
  'electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'other_product_manufacturing' : (0.7, 'Manufacturing [ISIC 10-18; 20-32]'), #OK
  'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  # REMOVE 'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

In [6]:
fraction = 0.7
df_enduse = df_eei.loc[df_eei['ENDUSE']=='Manufacturing [ISIC 10-18; 20-32]']
df_enduse = df_enduse[df_enduse['PRODUCT/FLOW'].str.startswith('Total final energy use (PJ)')]
mask = (df_enduse == '..').any(axis=1)
df_enduse = df_enduse.drop(index=df_enduse[mask].index)
df_enduse

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
7,Australia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1005.86,994.7,975.1,994.19,1031.43,1024.19,1022.04,...,1069.07,1038.99,1021.85,1012.51,951.74,955.53,942.03,933.8,898.1,884.93
167,Austria,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,299.06,305.01,305.93,313.27,322.37,349.62,353.33,...,368.47,369.06,366.11,361.09,362.52,371.8,373.91,360.23,367.95,351.02
327,Belgium,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,596.29,603.22,548.33,550.74,508.21,497.91,507.49,...,494.37,486.35,504.24,500.89,495.51,506.27,498.05,506.23,491.89,461.54
487,Canada,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,2359.43,2197.19,2257.75,2220.87,2334.03,2274.67,2216.74,...,2002.92,1983.07,2011.25,1999.02,1934.9,1897.65,1930.83,1933.4,1929.56,1786.65
647,Czech Republic,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,458.85,448.94,430.06,437.03,449.85,434.75,441.84,...,343.47,337.68,332.89,324.73,323.84,322.39,334.91,339.81,324.92,325.91
807,Denmark,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,110.39,113.05,105.96,106.75,108.31,106.59,108.65,...,90.29,85.46,80.32,78.08,76.7,79.45,83.56,85.27,83.03,84.11
967,Estonia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,22.86,25.58,22.83,25.46,26.38,27.46,26.07,...,22.16,20.98,24.16,20.77,19.97,16.16,17.02,17.81,16.85,14.66
1127,Finland,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,498.89,485.78,504.42,505.95,521.09,485.28,528.85,...,449.52,434.96,433.69,431.51,434.92,447.13,453.31,470.35,460.39,430.86
1287,France,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1401.85,1474.01,1446.18,1409.78,1381.47,1436.57,1388.23,...,1351.2,1335.63,1346.81,1287.72,1263.36,1288.24,1274.14,1298.18,1253.9,1137.49
1447,Germany,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,2492.76,2437.52,2426.37,2578.93,2554.52,2551.32,2623.92,...,2713.36,2671.93,2638.4,2631.55,2644.46,2658.53,2722.59,2672.02,2548.96,2426.81
1607,Greece,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,173.21,175.66,172.31,169.74,159.32,162.68,165.21,...,134.03,120.34,112,119.82,121.98,119.91,104.98,103.49,98.94,97.92
1767,Hungary,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,156,158.75,158.62,154.06,142.52,144.16,149,...,139.57,144.51,159.02,161.82,173.25,172.23,188.91,194.93,193.46,189.78
1927,Ireland,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,92.78,90.87,87.8,89.76,89.19,92.34,87.9,...,67.37,67.53,70.58,78.07,79.38,82.25,85.26,88.85,88.22,85.24
2087,Italy,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1687.28,1650.37,1642.19,1735.69,1713.45,1698.14,1653.24,...,1273.49,1230.55,1128.9,1105.15,1084.15,1102.25,1077.77,1065.56,1073.06,1019.47
2247,Japan,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,5221.77,5077.18,5160.28,5081.73,5119.53,5153.7,5204.43,...,4697.54,4647.28,4717.18,4599.69,4420.62,4345.26,4326.89,4343.49,4197.91,3820.64
2407,Korea,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1938.76,1946.04,1948.26,1938.26,1988,1978.94,2014.6,...,2517.93,2527.16,2515.56,2610.23,2567.99,2609.35,2610.66,2641.25,2566.55,2481.67
2567,Lithuania,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,30.7,30.49,33.88,35.69,36.67,41.77,42.96,...,40.54,42.88,41.5,41.55,39.33,39.52,42.72,44.07,44.52,40.65
2727,Luxembourg,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,29.11,29.87,29.21,27.56,31.5,30.65,33.71,...,29.92,27.8,26.38,26.32,25.52,26.5,24.84,25.94,25.17,23.2
3039,Mexico,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1149.22,1034.35,1071.24,1137.59,1209.43,1246.18,1356.86,...,1439.79,1443.8,1490.21,1387.22,1479.82,1470.02,1558.43,1538.3,1422.27,1196.38
3047,Netherlands,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,676.74,679.59,696.01,703.44,713.81,708.98,689.31,...,633.91,627.38,612.75,607.98,604.36,629.67,631.38,622.82,605.51,598.3
3207,New Zealand,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,172.78,181.09,197.77,187.19,189.82,176.35,172.94,...,171.8,175.93,180.45,192.15,189.8,190.49,189.79,187.35,200.68,182.72
3367,Norway,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,279.72,259.71,243.54,264.33,277.8,272.65,265.81,...,246.62,235.13,233.89,231.32,233.37,233.77,238.82,243.28,244.78,246.39
3527,Poland,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,797.74,737.87,711.77,740.13,747.17,682.91,698.85,...,653.06,646.02,673.18,680.12,679.37,701.38,749.96,772.86,776.01,734.79
3687,Portugal,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,244.47,236.72,239.09,225.66,216.82,216.56,217.88,...,208.95,180.63,182.17,175.01,174.57,174.29,179.82,181.32,182.81,179.44
3847,Slovak Republic,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,194.86,193.18,202.85,211.55,202.07,203.43,206.46,...,183.78,189.82,187.49,195.86,197.16,198.18,205.78,211.92,191.49,173.03
4007,Spain,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1066.71,1127.07,1139.73,1232.68,1259.78,1292.58,1058.07,...,887.98,842,810.27,782.23,773.12,816.19,838.01,836.83,820.31,752.44
4167,Sweden,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,540.3,529.92,528.2,525.41,523.54,518.52,544.77,...,484.27,474.79,465.59,454.9,466.63,462.48,463.42,462.91,463.79,468.63
4327,Switzerland,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,149.33,155.07,147.3,150.25,153.53,154.61,159.57,...,148.63,149.07,149.25,142.67,141.81,142.24,142.12,137.33,136.89,132.28
4487,Republic of Türkiye,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,911.68,720.63,853.07,970.02,989.21,971.79,1093.81,...,1132.64,1185.77,1112.16,1158.74,1184.72,1187.68,1451.98,1475.96,1417.48,1547.84
4647,United Kingdom,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1555.37,1491.83,1418.36,1448.76,1410.39,1381.8,1362.13,...,1082.57,1080.32,1115.5,1093.83,1073.95,954.06,957.61,961.49,942.33,918.38
4807,United States,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,14173.99,13428.32,12797.19,12468.17,12562.98,11947.18,11461.47,...,10419.94,10280,10259.31,10098.09,10246.26,10067.41,10024.38,10391,10616.89,10154.66
5127,Brazil,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,2469.37,2488.38,2643.09,2758.09,2919.48,2963.27,3094.76,...,3632.47,3638.4,3619.09,3574.9,3461.39,3452.96,3517.7,3355.53,3271.64,3400.25
5287,Morocco,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,88.57,84.57,82.32,70.48,71.9,75.78,78.58,...,101.01,104.93,106.12,97.19,97.88,94.09,104.46,104.96,104.63,93.86
5767,Chile,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,189.34,191.94,186.51,190,199.16,195.54,220.56,...,233.08,240.02,263.52,269.91,255.58,261.97,240.12,242.59,244.72,226.22
6087,Latvia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,22.99,24.55,24.71,25.04,26.44,27.92,28.93,...,29.09,32.08,29.84,31.25,31.24,29.63,31.56,35.95,34.15,34.77
6247,Albania,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,10.23,10.68,8.38,8.73,8.28,7.41,9.7,...,14.33,10.67,10.63,14.4,11.78,10.73,16.15,18.15,14.32,15.11
6407,Armenia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,15.76,16.84,16.6,20,22.2,27.33,28.97,...,13.1,14.1,13.97,11.37,9.79,8.68,9.71,10.57,9.17,9.98
6887,Bosnia and Herzegovina,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ),21.81,20.21,23.15,13.11,22.71,28.68,29.91,...,46.78,45.2,48.15,46.34,47.23,45.74,48.63,52.64,49.87,43.72
7047,Bulgaria,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,171.11,168.32,157.68,172.47,168.27,167.19,166.74,...,105.94,101.1,101.91,102.81,105.4,103.73,108,106.5,103.14,101.02
7207,Croatia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,51.71,53.56,51.65,52.31,58.18,57.35,59.61,...,46.6,40.87,40.14,40.27,39.83,39.98,43.89,44.12,44.3,44.14
7367,Cyprus,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,18.58,17.89,17.83,18.59,18.75,13.33,11.89,...,8.62,6.63,7.33,8.9,8.29,8.39,9.04,8.85,8.71,9.5
7527,Georgia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,11.44,5.95,6.83,7.89,7.86,7.86,9.48,...,25.24,26.15,27.16,26.23,26.76,25.64,29.1,30.15,27.88,26.46
7687,Hong Kong (China),Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ),18.36,17.16,16.87,15.77,16.27,15.67,14.31,...,9.45,8.94,8.65,8.45,8.3,7.94,8.09,8.1,8.13,7.89
8007,Kosovo,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,6.23,7.52,7.52,7.71,7.33,7.85,8.01,...,12.89,11.45,11.2,10.27,12.72,11.64,12.94,11.61,12.37,12.47
8167,Kyrgyzstan,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,18.27,11.58,19.58,26.55,21.45,19.25,19.44,...,14.95,24.56,13.61,19.52,27.18,15.48,14.76,21.37,17.42,9.52
8327,Malta,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1.81,1.74,1.84,2,1.98,2.11,2.32,...,1.61,1.76,2.02,2.14,2.12,2.12,2.22,2.11,2.02,2.02
8487,Republic of Moldova,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ),6.7,9.62,8.15,8.95,13.52,13.77,11.99,...,8.85,9.38,10.07,9.06,8.48,8.08,8.68,9.69,9.13,8.72
8647,Republic of North Macedonia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ),21.64,18.5,17.65,21.16,18.94,23.35,24.4,...,24.55,22.49,21.39,19.92,17.98,16.63,14.46,15.56,17.16,17.69
8807,Romania,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,378.2,415.59,445.76,430.61,426.43,405.9,387.54,...,273.61,261.72,244.37,252.32,251.4,246.41,251.54,260.69,260.96,249.95
8967,Serbia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,90.47,105.69,111.85,124.25,143.07,142.16,149.43,...,109.57,97.3,93.04,80.21,88.73,99.31,104.7,113.3,106.75,90.61
9127,Slovenia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,54.89,52.68,50.4,60.75,61.86,65.1,66.67,...,49.88,48.55,48.32,49.78,49.55,50.06,52.11,53.08,53,50.18

In [56]:
nation_pop_gdp_all=sorted(set(df_pop_gdp_all['Nation'].values))
nation_enduse = df_enduse['COUNTRY'].values
nation_pop_gdp_enduse = sorted(set(nation_pop_gdp_all).intersection(set(nation_enduse)))
years_all = range(min(df_pop_gdp_all['Year'].values),2020+1)
c_y_pop_gdp = []
for c in nation_pop_gdp_enduse:
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        end_use = float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0])
        
        c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp,end_use])
        
df_pop_gdp_enduse = pd.DataFrame(c_y_pop_gdp,columns=['Nation', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd',
                                                    'end_use_tj'])
df_pop_gdp_enduse

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd,end_use_tj
0,Albania,2011,1.546929e+06,1.358266e+06,21.159910,14.33
1,Albania,2012,1.575788e+06,1.324613e+06,21.865577,10.67
2,Albania,2013,1.603505e+06,1.291587e+06,22.571244,10.63
3,Albania,2014,1.630119e+06,1.258985e+06,23.276911,14.40
4,Albania,2015,1.654503e+06,1.226200e+06,23.982578,11.78
...,...,...,...,...,...,...
435,United States,2016,2.644730e+08,5.859875e+07,15106.351184,10067.41
436,United States,2017,2.667887e+08,5.833341e+07,15365.662828,10024.38
437,United States,2018,2.688440e+08,5.799417e+07,15624.974472,10391.00
438,United States,2019,2.707376e+08,5.759236e+07,15884.286116,10616.89
439,United States,2020,2.740321e+08,5.746903e+07,16143.597760,10154.66

In [70]:
from sklearn.linear_model import Lasso 
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import normalize

X=df_pop_gdp_enduse[['population_gnrl_urban','population_gnrl_rural','gdp_mmm_usd']]
X_n = normalize(X)
Y=df_pop_gdp_enduse['end_use_tj']

linear_model = LinearRegression()
linear_model.fit(X,Y)
print(linear_model.coef_)
#print(linear_model.intercept_)

[ 1.74536473e-05 -3.18234940e-05  5.06433742e-01]

In [78]:
X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == 'United States') & 
                            (df_pop_gdp_all['Year']== 2015)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
linear_model.predict(X_test)[0]

10285.650500629205

In [79]:
X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == 'Ecuador') & 
                            (df_pop_gdp_all['Year']== 2015)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
linear_model.predict(X_test)[0]

115.17988300443541

In [98]:
X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == 'Mexico') & 
                            (df_pop_gdp_all['Year']== 2015)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
linear_model.predict(X_test)[0]

1889.2071921793327

In [88]:
years_hist=range(min(df_pop_gdp_enduse['Year'].values),max(df_pop_gdp_enduse['Year'].values)+1)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2011: 789.4270588235294,
 2012: 780.963137254902,
 2013: 778.8939215686275,
 2014: 769.9192156862745,
 2015: 765.2296078431374,
 2016: 760.9311764705882,
 2017: 771.6027450980391,
 2018: 777.520980392157,
 2019: 766.3547058823528,
 2020: 733.3707843137254}

In [89]:
set(df_country_continent['continent'])

{'Africa', 'Americas', 'Asia', 'Europe', 'Oceania', nan}

In [90]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_sr_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])


for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_sr_meanEEI.loc[(df_sr_meanEEI['sub_region']==cont) & 
                          (df_sr_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_sr_meanEEI.dropna(how='any')
df_sr_meanEEI = df_sr_meanEEI.drop(df_sr_meanEEI.index[(df_sr_meanEEI == 0).any(axis=1)])

df_sr_meanEEI

                    sub_region  Year     meanEEI
0    Australia and New Zealand  2011  620.435000
1    Australia and New Zealand  2012  607.460000
2    Australia and New Zealand  2013  601.150000
3    Australia and New Zealand  2014  602.330000
4    Australia and New Zealand  2015  570.770000
..                         ...   ...         ...
215             Western Europe  2016  803.321429
216             Western Europe  2017  809.575714
217             Western Europe  2018  803.250000
218             Western Europe  2019  775.752857
219             Western Europe  2020  732.948571

[120 rows x 3 columns]

In [91]:
continents = ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']
coun_year=[]
for cont in continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_cont_meanEEI = pd.DataFrame(coun_year, columns=['continent', 'Year','meanEEI'])


for year in years_hist:
    for cont in continents:
        set1 = set(df_country_continent.loc[df_country_continent['continent']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_cont_meanEEI.loc[(df_cont_meanEEI['continent']==cont) & 
                          (df_cont_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_cont_meanEEI.dropna(how='any')
df_cont_meanEEI = df_cont_meanEEI.drop(df_cont_meanEEI.index[(df_cont_meanEEI == 0).any(axis=1)])

df_cont_meanEEI

   continent  Year      meanEEI
0     Africa  2011   101.010000
1     Africa  2012   104.930000
2     Africa  2013   106.120000
3     Africa  2014    97.190000
4     Africa  2015    97.880000
5     Africa  2016    94.090000
6     Africa  2017   104.460000
7     Africa  2018   104.960000
8     Africa  2019   104.630000
9     Africa  2020    93.860000
10  Americas  2011  3545.640000
11  Americas  2012  3517.058000
12  Americas  2013  3528.676000
13  Americas  2014  3465.828000
14  Americas  2015  3475.590000
15  Americas  2016  3430.002000
16  Americas  2017  3454.292000
17  Americas  2018  3492.164000
18  Americas  2019  3497.016000
19  Americas  2020  3352.832000
20      Asia  2011   951.890000
21      Asia  2012   943.744000
22      Asia  2013   955.850000
23      Asia  2014   933.142000
24      Asia  2015   898.528000
25      Asia  2016   880.690000
26      Asia  2017   877.900000
27      Asia  2018   882.886000
28      Asia  2019   852.218000
29      Asia  2020   775.220000
30    Europe  2011   381.953000
31    Europe  2012   372.331000
32    Europe  2013   367.017333
33    Europe  2014   362.094000
34    Europe  2015   361.513333
35    Europe  2016   367.345333
36    Europe  2017   372.810000
37    Europe  2018   373.887667
38    Europe  2019   365.662333
39    Europe  2020   347.748333
40   Oceania  2011   620.435000
41   Oceania  2012   607.460000
42   Oceania  2013   601.150000
43   Oceania  2014   602.330000
44   Oceania  2015   570.770000
45   Oceania  2016   573.010000
46   Oceania  2017   565.910000
47   Oceania  2018   560.575000
48   Oceania  2019   549.390000
49   Oceania  2020   533.825000

In [92]:
#### HISTORICAL ######
countries = sorted(set(df_pop_gdp_all['Nation'].values))
coun_year=[]
for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2011,0
1,Afghanistan,AFG,2012,0
2,Afghanistan,AFG,2013,0
3,Afghanistan,AFG,2014,0
4,Afghanistan,AFG,2015,0
...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0
1816,Zimbabwe,ZWE,2017,0
1817,Zimbabwe,ZWE,2018,0
1818,Zimbabwe,ZWE,2019,0
1819,Zimbabwe,ZWE,2020,0

In [93]:
# for c,y in zip(df_historical_out['Nation'].values,df_historical_out['Year'].values):
    
#     gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
#     if c in df_enduse['COUNTRY'].values:
        
#         tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0])*1e3

#         dato=tj/gdp
#         df_historical_out.loc[(df_historical_out['Nation'] == c) & 
#                         (df_historical_out['Year']== y), var_name] = dato*fraction
        
#     else:
#         try:
#             cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
#             tj = df_sr_meanEEI.loc[(df_sr_meanEEI['sub_region'] == cont) & 
#                             (df_sr_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
#         except:
#             try:
#                 cont = df_country_continent.loc[df_country_continent['country']== c]['continent'].values[0]
#                 tj = df_cont_meanEEI.loc[(df_cont_meanEEI['continent'] == cont) & 
#                             (df_cont_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
#             except:
#                 tj=golbal_mean[y]*1e3
            
#         dato=tj/gdp
        
#         df_historical_out.loc[(df_historical_out['Nation'] == c) & 
#                         (df_historical_out['Year']== y), var_name] = dato*fraction
# df_historical_out

In [103]:
for c,y in zip(df_historical_out['Nation'].values,df_historical_out['Year'].values):
    
    gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
    if c in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0])*1e3

        dato=tj/gdp
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == c) & 
                            (df_pop_gdp_all['Year']== y)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
        tj =linear_model.predict(X_test)[0]*1e3
            
        if tj>0:
            dato=tj/gdp
        else:
            dato=0
        
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2011,0.0
1,Afghanistan,AFG,2012,0.0
2,Afghanistan,AFG,2013,0.0
3,Afghanistan,AFG,2014,0.0
4,Afghanistan,AFG,2015,0.0
...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0.0
1816,Zimbabwe,ZWE,2017,0.0
1817,Zimbabwe,ZWE,2018,0.0
1818,Zimbabwe,ZWE,2019,0.0
1819,Zimbabwe,ZWE,2020,0.0

In [105]:
df_historical_out[(df_historical_out['Nation'] == 'Ecuador')]

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
480,Ecuador,ECU,2011,696.668812
481,Ecuador,ECU,2012,694.680199
482,Ecuador,ECU,2013,692.955770
483,Ecuador,ECU,2014,691.403835
484,Ecuador,ECU,2015,690.103732
485,Ecuador,ECU,2016,696.807879
486,Ecuador,ECU,2017,703.738232
487,Ecuador,ECU,2018,711.702977
488,Ecuador,ECU,2019,720.732227
489,Ecuador,ECU,2020,730.923634

In [106]:
df_historical_out[(df_historical_out['Nation'] == 'United States')]

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
1720,United States,USA,2011,542.712655
1721,United States,USA,2012,521.766056
1722,United States,USA,2013,507.763551
1723,United States,USA,2014,487.654302
1724,United States,USA,2015,483.084994
1725,United States,USA,2016,466.504910
1726,United States,USA,2017,456.671871
1727,United States,USA,2018,465.517561
1728,United States,USA,2019,467.872648
1729,United States,USA,2020,440.314613

In [100]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

coun_year=[]
for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2021,0
1,Afghanistan,AFG,2022,0
2,Afghanistan,AFG,2023,0
3,Afghanistan,AFG,2024,0
4,Afghanistan,AFG,2025,0
...,...,...,...,...
5455,Zimbabwe,ZWE,2046,0
5456,Zimbabwe,ZWE,2047,0
5457,Zimbabwe,ZWE,2048,0
5458,Zimbabwe,ZWE,2049,0
5459,Zimbabwe,ZWE,2050,0

In [101]:
# y_hist_max = max(years_hist)
# for c,y in zip(df_projected_out['Nation'].values,df_projected_out['Year'].values):
    
#     gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
#     if c in df_enduse['COUNTRY'].values:
        
#         tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(2016)].values[0])*1e3

#         dato=tj/gdp
        
#         df_projected_out.loc[(df_projected_out['Nation'] == c) & 
#                         (df_projected_out['Year']== y), var_name] = dato*fraction
        
#     else:
#         try:
#             cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
#             tj = df_sr_meanEEI.loc[(df_sr_meanEEI['sub_region'] == cont) & 
#                             (df_sr_meanEEI['Year']== 2016), 'meanEEI'].values[0]*1e3
            
#         except:
#             try:
#                 cont = df_country_continent.loc[df_country_continent['country']== c]['continent'].values[0]
#                 tj = df_cont_meanEEI.loc[(df_cont_meanEEI['continent'] == cont) & 
#                             (df_cont_meanEEI['Year']== 2016), 'meanEEI'].values[0]*1e3
#             except:
#                 tj=golbal_mean[2016]*1e3
            
#         dato=tj/gdp
        
#         df_projected_out.loc[(df_projected_out['Nation'] == c) & 
#                         (df_projected_out['Year']== y), var_name] = dato*fraction
# df_projected_out

In [107]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['Nation'].values,df_projected_out['Year'].values):
    
    gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
    if c in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(2016)].values[0])*1e3

        dato=tj/gdp
        
        df_projected_out.loc[(df_projected_out['Nation'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
        
    else:
        X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == c) & 
                            (df_pop_gdp_all['Year']== y)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
        tj =linear_model.predict(X_test)[0]*1e3
            
        if tj>0:
            dato=tj/gdp
        else:
            dato=0
        
        df_projected_out.loc[(df_projected_out['Nation'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2021,0.0
1,Afghanistan,AFG,2022,0.0
2,Afghanistan,AFG,2023,0.0
3,Afghanistan,AFG,2024,0.0
4,Afghanistan,AFG,2025,0.0
...,...,...,...,...
5455,Zimbabwe,ZWE,2046,0.0
5456,Zimbabwe,ZWE,2047,0.0
5457,Zimbabwe,ZWE,2048,0.0
5458,Zimbabwe,ZWE,2049,0.0
5459,Zimbabwe,ZWE,2050,0.0

In [111]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [112]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')

In [108]:
hist_val=df_historical_out.loc[(df_historical_out['Nation']=='Mexico')
                               &(df_historical_out['Year']==2015)][var_name].values[0]

gdp_val_mex=df_gdp_all.loc[(df_gdp_all['Nation']=='Mexico')&(df_gdp_all['Year']==2015)]['gdp_mmm_usd'].values[0]

iea_val =df_enduse.loc[(df_enduse['COUNTRY']=='Mexico')]['2015'].values[0]

print(hist_val*gdp_val_mex/1000,float(iea_val)*fraction)

1035.874 1035.8739999999998