In [10]:
import pandas as pd
import numpy as np

In [11]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_chemicals_tonne.csv')
df.head()

   year location_code  prodinit_ippu_chemicals_tonne
0  2010           ABW                    2013.276572
1  2011           ABW                    2142.631474
2  2012           ABW                    1693.339738
3  2013           ABW                    1374.087811
4  2014           ABW                    3879.706507

In [12]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_chemicals_tonne
1996  2015           USA                   1.092040e+08
1997  2016           USA                   1.083039e+08
1998  2017           USA                   1.031745e+08
1999  2018           USA                   1.067525e+08
2000  2019           USA                   1.156691e+08
2001  2020           USA                   1.232838e+08

In [13]:
df = df[["year","prodinit_ippu_chemicals_tonne"]]
df

      year  prodinit_ippu_chemicals_tonne
1996  2015                   1.092040e+08
1997  2016                   1.083039e+08
1998  2017                   1.031745e+08
1999  2018                   1.067525e+08
2000  2019                   1.156691e+08
2001  2020                   1.232838e+08

In [14]:
df["prodinit_ippu_chemicals_tonne"] = df["prodinit_ippu_chemicals_tonne"]*0.053
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_17852\800842281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_chemicals_tonne"] = df["prodinit_ippu_chemicals_tonne"]*0.053

      year  prodinit_ippu_chemicals_tonne
1996  2015                   5.787813e+06
1997  2016                   5.740105e+06
1998  2017                   5.468250e+06
1999  2018                   5.657883e+06
2000  2019                   6.130460e+06
2001  2020                   6.534042e+06

In [15]:
df.to_csv('../new_input.csv',index=False,header=False)