In [31]:
import pandas as pd
import numpy as np

In [32]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_rubber_and_leather_tonne.csv')
df.head()

   year location_code  prodinit_ippu_rubber_and_leather_tonne
0  2010           ABW                              257.182108
1  2011           ABW                              178.958700
2  2012           ABW                              140.735185
3  2013           ABW                              165.078383
4  2014           ABW                              195.972511

In [33]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_rubber_and_leather_tonne
1996  2015           USA                            3.458864e+06
1997  2016           USA                            3.384081e+06
1998  2017           USA                            3.285177e+06
1999  2018           USA                            3.459787e+06
2000  2019           USA                            3.620561e+06
2001  2020           USA                            3.771910e+06

In [34]:
df = df[["year","prodinit_ippu_rubber_and_leather_tonne"]]
df

      year  prodinit_ippu_rubber_and_leather_tonne
1996  2015                            3.458864e+06
1997  2016                            3.384081e+06
1998  2017                            3.285177e+06
1999  2018                            3.459787e+06
2000  2019                            3.620561e+06
2001  2020                            3.771910e+06

In [35]:
df["prodinit_ippu_rubber_and_leather_tonne"] = df["prodinit_ippu_rubber_and_leather_tonne"]*0.05
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_24488\71277369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_rubber_and_leather_tonne"] = df["prodinit_ippu_rubber_and_leather_tonne"]*0.05

      year  prodinit_ippu_rubber_and_leather_tonne
1996  2015                           172943.192628
1997  2016                           169204.043392
1998  2017                           164258.845023
1999  2018                           172989.337284
2000  2019                           181028.059696
2001  2020                           188595.494401

In [36]:
df.to_csv('../new_input.csv',index=False,header=False)