In [3]:
import pandas as pd
import numpy as np

In [4]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_textiles_tonne.csv')
df.head()

   year location_code  prodinit_ippu_textiles_tonne
0  2010           ABW                   1101.445313
1  2011           ABW                   1107.377342
2  2012           ABW                    966.834430
3  2013           ABW                   1101.081720
4  2014           ABW                   1204.272688

In [5]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_textiles_tonne
1996  2015           USA                  1.921738e+07
1997  2016           USA                  1.943473e+07
1998  2017           USA                  1.933583e+07
1999  2018           USA                  2.012797e+07
2000  2019           USA                  2.059281e+07
2001  2020           USA                  2.095521e+07

In [6]:
df = df[["year","prodinit_ippu_textiles_tonne"]]
df

      year  prodinit_ippu_textiles_tonne
1996  2015                  1.921738e+07
1997  2016                  1.943473e+07
1998  2017                  1.933583e+07
1999  2018                  2.012797e+07
2000  2019                  2.059281e+07
2001  2020                  2.095521e+07

In [7]:
df["prodinit_ippu_textiles_tonne"] = df["prodinit_ippu_textiles_tonne"]*.0002
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_11128\1739619582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_textiles_tonne"] = df["prodinit_ippu_textiles_tonne"]*.0002

      year  prodinit_ippu_textiles_tonne
1996  2015                   3843.476940
1997  2016                   3886.946654
1998  2017                   3867.165624
1999  2018                   4025.594822
2000  2019                   4118.562433
2001  2020                   4191.042778

In [8]:
df.to_csv('../new_input.csv',index=False,header=False)