In [25]:
import pandas as pd
import numpy as np

In [26]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_plastic_tonne.csv')
df.head()

   year location_code  prodinit_ippu_plastic_tonne
0  2010           ABW                  1792.779569
1  2011           ABW                  1936.664677
2  2012           ABW                  1820.249775
3  2013           ABW                  1800.476743
4  2014           ABW                  2126.286625

In [27]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_plastic_tonne
1996  2015           USA                 6.888964e+07
1997  2016           USA                 7.227053e+07
1998  2017           USA                 7.369799e+07
1999  2018           USA                 7.876369e+07
2000  2019           USA                 8.190892e+07
2001  2020           USA                 8.502251e+07

In [28]:
df = df[["year","prodinit_ippu_plastic_tonne"]]
df

      year  prodinit_ippu_plastic_tonne
1996  2015                 6.888964e+07
1997  2016                 7.227053e+07
1998  2017                 7.369799e+07
1999  2018                 7.876369e+07
2000  2019                 8.190892e+07
2001  2020                 8.502251e+07

In [29]:
df["prodinit_ippu_plastic_tonne"] = df["prodinit_ippu_plastic_tonne"]*0.216
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_24488\3256197036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_plastic_tonne"] = df["prodinit_ippu_plastic_tonne"]*0.216

      year  prodinit_ippu_plastic_tonne
1996  2015                 1.488016e+07
1997  2016                 1.561043e+07
1998  2017                 1.591877e+07
1999  2018                 1.701296e+07
2000  2019                 1.769233e+07
2001  2020                 1.836486e+07

In [30]:
df.to_csv('../new_input.csv',index=False,header=False)