In [1]:
import pandas as pd

# SCOE Initial Per GDP Heat Energy Consumption
consumpinit_scoe_tj_per_mmmgdp_commercial_municipal_heat_energy

## Baseline

In [3]:
years = [i for i in range(2015,2022)]
energy_consumption = [270371,266514,269455,269418,259985,234459,244280]
zipped = list(zip(years, energy_consumption))
df = pd.DataFrame(zipped, columns=['Year','energy_consumption'])
df.head()

   Year  energy_consumption
0  2015              270371
1  2016              266514
2  2017              269455
3  2018              269418
4  2019              259985

Then this electricity consumption amounts are in Million
Kilowatthours so we need to convert it to Jouls.

We have that 1 million btu = 1.055056e+9 Joules and 1 joule = 1e-12 Tera Joules so
1 million btu = 1.0550561e-3 Tera Joules

In [4]:
df["energy_consumption"] = df["energy_consumption"]*(1.055056/1000)
df.head()

   Year  energy_consumption
0  2015          285.256546
1  2016          281.187195
2  2017          284.290114
3  2018          284.251077
4  2019          274.298734

Now we need this quantity expressed in Tera Joule per GDP so we get the [real GDP](https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.eia.gov%2Fstate%2Fseds%2Fsep_sum%2Fhtml%2Fxls%2Fuse_oi.xlsx&wdOrigin=BROWSELINK)

In [5]:
df["GDP"] = [233016,228429,233352,237298,237045,218422,221153] 

df.head()

   Year  energy_consumption     GDP
0  2015          285.256546  233016
1  2016          281.187195  228429
2  2017          284.290114  233352
3  2018          284.251077  237298
4  2019          274.298734  237045

Now we need the GDP in Billion US Dollars according to the SISEPUEDE [Units - Monetary](https://sisepuede.readthedocs.io/en/latest/general_data.html)

In [6]:
df["GDP"] = df["GDP"]/1000
df.head()

   Year  energy_consumption      GDP
0  2015          285.256546  233.016
1  2016          281.187195  228.429
2  2017          284.290114  233.352
3  2018          284.251077  237.298
4  2019          274.298734  237.045

Now we can calculate the Electricity consumption per GDP

In [7]:
df["energy_consumption_per_gdp"] = df["energy_consumption"]/df["GDP"]
df.head()

   Year  energy_consumption      GDP  energy_consumption_per_gdp
0  2015          285.256546  233.016                    1.224193
1  2016          281.187195  228.429                    1.230961
2  2017          284.290114  233.352                    1.218289
3  2018          284.251077  237.298                    1.197865
4  2019          274.298734  237.045                    1.157159

According to the [Energy Justice Network](https://www.energyjustice.net/energysources) heating represents the 34.7% of the U.S. Energy Consumption in 2021 so this percentage was taken on each year

In [8]:
df["energy_consumption_per_gdp"] = df["energy_consumption_per_gdp"]*0.347
df.head()

   Year  energy_consumption      GDP  energy_consumption_per_gdp
0  2015          285.256546  233.016                    0.424795
1  2016          281.187195  228.429                    0.427143
2  2017          284.290114  233.352                    0.422746
3  2018          284.251077  237.298                    0.415659
4  2019          274.298734  237.045                    0.401534

Now we can save the input

In [9]:
df[["Year","energy_consumption_per_gdp"]].to_csv('../new_input.csv', index=False,header=False)