In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
ggpdir=os.path.dirname(grandparentdir)

sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)
sys.path.insert(0, ggpdir)

var_name=os.path.basename(parentdir)

var_name

'frac_trns_mtkm_dem_freight_aviation'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
# df_countries
# df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
# df_country_continent=df_country_continent.dropna(how='any')

In [4]:
#Socioeconomic varibles

#GDP
df_gdp_hist = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/historical/gdp_mmm_usd.csv')
df_gdp_proj = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/projected/gdp_mmm_usd.csv')

nation_gdp = sorted(set(df_gdp_proj['Nation'].values))

years_all = range(min(df_gdp_hist['Year'].values),max(df_gdp_proj['Year'].values)+1)
c_y_gdp = []
for c in nation_gdp:
    for y in years_all:
    
        try:
            gdp = df_gdp_hist.loc[(df_gdp_hist['Nation']==c) & (df_gdp_hist['Year']==y),]['gdp_mmm_usd'].values[0]
            
        except:
            gdp = df_gdp_proj.loc[(df_gdp_proj['Nation']==c) & (df_gdp_proj['Year']==y)]['gdp_mmm_usd'].values[0]
            
        c_y_gdp.append([c,y,gdp])

df_gdp_all = pd.DataFrame(c_y_gdp,columns=['Nation', 'Year', 'gdp_mmm_usd'])



#Rural population
df_popru_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/historical/population_gnrl_rural.csv')
df_popru_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/projected/population_gnrl_rural.csv')

#Urban population
df_popur_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/historical/population_gnrl_urban.csv')
df_popur_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/projected/population_gnrl_urban.csv')

nation_pop = sorted(set(df_popur_proj['Nation'].values))

years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop = []
for c in nation_pop:
    for y in years_all:
    
        try:
            pop_ur = df_popur_hist.loc[(df_popur_hist['Nation']==c) &
                                       (df_popur_hist['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_hist.loc[(df_popru_hist['Nation']==c) &
                                       (df_popru_hist['Year']==y),]['population_gnrl_rural'].values[0]
            
        except:
            pop_ur = df_popur_proj.loc[(df_popur_proj['Nation']==c) &
                                       (df_popur_proj['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_proj.loc[(df_popru_proj['Nation']==c) &
                                       (df_popru_proj['Year']==y),]['population_gnrl_rural'].values[0]
            
        c_y_pop.append([c,y,pop_ur,pop_ru])

df_pop_all = pd.DataFrame(c_y_pop,columns=['Nation', 'Year', 'population_gnrl_urban','population_gnrl_rural'])

#All Together
nation_pop_gdp = sorted(set(nation_pop).intersection(set(nation_gdp)))
years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop_gdp = []
for c in nation_pop_gdp:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==c]['iso_code3'].values[0]
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        c_y_pop_gdp.append([c,iso3,y,pop_ur,pop_ru,gdp])
df_pop_gdp_all = pd.DataFrame(c_y_pop_gdp,columns=['Nation','iso_code3', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd'])
df_pop_gdp_all

,Nation,iso_code3,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd
0,Afghanistan,AFG,2011,7.212518e+06,2.290489e+07,35.369178
1,Afghanistan,AFG,2012,7.528589e+06,2.363279e+07,38.085386
2,Afghanistan,AFG,2013,7.865068e+06,2.440452e+07,40.801594
3,Afghanistan,AFG,2014,8.204880e+06,2.516592e+07,43.517802
4,Afghanistan,AFG,2015,8.535606e+06,2.587800e+07,46.234010
...,...,...,...,...,...,...
7275,Zimbabwe,ZWE,2046,5.352032e+06,7.863317e+06,24.382002
7276,Zimbabwe,ZWE,2047,5.384492e+06,7.807897e+06,26.002852
7277,Zimbabwe,ZWE,2048,5.416953e+06,7.752477e+06,27.623703
7278,Zimbabwe,ZWE,2049,5.449414e+06,7.697057e+06,29.244553
7279,Zimbabwe,ZWE,2050,5.481874e+06,7.641637e+06,30.865404

In [5]:
#Aviation data

df_enduse=pd.read_csv("../row_data/API_IS.AIR.GOOD.MT.K1_DS2_en_csv_v2_5358418.csv",skiprows=[0,1,2])
df_enduse.fillna('.', inplace=True)
df_enduse

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
1,Africa Eastern and Southern,AFE,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,2642.201982,2722.613272,2739.366939,2870.646839,3607.123878,3526.787055,3732.431229,3297.129486,.,.
2,Afghanistan,AFG,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,84.621216,34.283472,33.102039,29.010881,21.462557,29.559349,20.014206,19.878902,.,.
3,Africa Western and Central,AFW,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,65.833192,70.818192,42.88631,39.603981,41.329198,39.663229,32.295049,21.731377,.,.
4,Angola,AGO,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,70.431,65.517,46.043,43.940435,67.32035,78.15964,68.04358,28.89977,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
262,"Yemen, Rep.",YEM,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,0.0,.,.,.,.,3.27,0.0,2.475464,.,.
263,South Africa,ZAF,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,1122.986468,1042.736264,892.734324,767.271186,833.347948,696.730006,565.20947,102.392463,.,.
264,Zambia,ZMB,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,93.432545,83.431252,79.382096,80.352947,81.55761,75.077398,79.335,69.971218,.,.
265,Zimbabwe,ZWE,"Air transport, freight (million ton-km)",IS.AIR.GOOD.MT.K1,.,.,.,.,.,.,...,32.681952,0.71049,0.796107,0.804947,0.665035,0.665035,0.0,9.997246,.,.

In [6]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False
    
nation_pop_gdp_all=df_pop_gdp_all['iso_code3'].unique()
nation_enduse = df_enduse['Country Code'].unique()

nation_pop_gdp_enduse = sorted(set(nation_pop_gdp_all).intersection(set(nation_enduse)))
years_all = range(min(df_pop_gdp_all['Year'].values),2020+1)

c_y_pop_gdp = []
for c in nation_pop_gdp_enduse:
    for y in years_all:
        pop_ur = df_pop_gdp_all.loc[(df_pop_gdp_all['iso_code3']==c) &
                                       (df_pop_gdp_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_gdp_all.loc[(df_pop_gdp_all['iso_code3']==c) &
                                       (df_pop_gdp_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_pop_gdp_all.loc[(df_pop_gdp_all['iso_code3']==c) & 
                             (df_pop_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        end_use = df_enduse.loc[(df_enduse['Country Code']==c)][str(y)].values[0]
        
        if is_number(end_use) and float(end_use)!=0:
            end_use=float(end_use)
            
            c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp,end_use])
        
df_pop_gdp_enduse = pd.DataFrame(c_y_pop_gdp,columns=['iso_code3', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd',
                                                    'Aviation (mtkm)'])
df_pop_gdp_enduse

,iso_code3,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd,Aviation (mtkm)
0,AFG,2011,7.212518e+06,2.290489e+07,35.369178,109.421117
1,AFG,2012,7.528589e+06,2.363279e+07,38.085386,116.660723
2,AFG,2013,7.865068e+06,2.440452e+07,40.801594,84.621216
3,AFG,2014,8.204880e+06,2.516592e+07,43.517802,34.283472
4,AFG,2015,8.535606e+06,2.587800e+07,46.234010,33.102039
...,...,...,...,...,...,...
1345,ZWE,2015,4.473872e+06,9.340770e+06,6.769741,0.796107
1346,ZWE,2016,4.531238e+06,9.499100e+06,6.756399,0.804947
1347,ZWE,2017,4.589452e+06,9.647147e+06,6.743057,0.665035
1348,ZWE,2018,4.650597e+06,9.788215e+06,6.729715,0.665035
1349,ZWE,2020,4.792105e+06,1.007082e+07,6.703030,9.997246

In [7]:
#Linear regression

from sklearn.linear_model import Lasso 
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import normalize

X=df_pop_gdp_enduse[['population_gnrl_urban','population_gnrl_rural','gdp_mmm_usd']]
Y=df_pop_gdp_enduse['Aviation (mtkm)']

linear_model = LinearRegression()
linear_model.fit(X,Y)
print(linear_model.coef_)

[-3.72721467e-05 -2.57361231e-07  3.23832553e+00]

In [8]:
nation_mean=[]
for nation in sorted(set(df_pop_gdp_enduse['iso_code3'])):
    values=df_pop_gdp_enduse.loc[df_pop_gdp_enduse['iso_code3']==nation]['Aviation (mtkm)'].values
    nation_mean.append([nation,np.mean(values)])
mean_df=pd.DataFrame(nation_mean,columns=['iso_code3','Aviation_mean (mtkm)'])
mean_df

    iso_code3  Aviation_mean (mtkm)
0         AFG             49.801446
1         AGO             59.030477
2         ARE          14369.471185
3         ARG            237.882561
4         ARM              1.788123
..        ...                   ...
150       WSM              0.012094
151       YEM              2.872732
152       ZAF            827.098971
153       ZMB             80.317508
154       ZWE             15.365996

[155 rows x 2 columns]

In [9]:
years_hist=range(min(df_pop_gdp_enduse['Year'].values),max(df_pop_gdp_enduse['Year'].values)+1)

ISO3 = nation_pop_gdp_enduse

coun_year_dato=[]

for iso3 in ISO3:
    count = df_gdp_hist.loc[df_gdp_hist['iso_code3']==iso3]['Nation'].values[0]
    for year in years_hist:
        
        
        if (iso3,year) in zip(df_pop_gdp_enduse['iso_code3'].values,df_pop_gdp_enduse['Year'].values):
            
            mtkm=df_pop_gdp_enduse.loc[(df_pop_gdp_enduse['iso_code3'] ==iso3) & 
                        (df_pop_gdp_enduse['Year']== year), 'Aviation (mtkm)'].values[0]
        else:
            
            try:
                
                mtkm=mean_df.loc[mean_df['iso_code3'] ==iso3,'Aviation_mean (mtkm)'].values[0]
                
            except:
                    
                X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == count) & 
                                (df_pop_gdp_all['Year']== year)][['population_gnrl_urban',
                                                                  'population_gnrl_rural',
                                                                  'gdp_mmm_usd']]
                mtkm =linear_model.predict(X_test)[0]

            if mtkm<0:
                mtkm=0
        
        coun_year_dato.append([count,iso3,year,mtkm])

        

df_enduse_complete = pd.DataFrame(coun_year_dato,columns=['Nation','iso_code3','Year','Aviation (mtkm)'])
df_enduse_complete

        Nation iso_code3  Year  Aviation (mtkm)
0        Aruba       ABW  2011       530.150719
1        Aruba       ABW  2012       530.812871
2        Aruba       ABW  2013       531.473032
3        Aruba       ABW  2014       532.132309
4        Aruba       ABW  2015       532.791722
...        ...       ...   ...              ...
1815  Zimbabwe       ZWE  2016         0.804947
1816  Zimbabwe       ZWE  2017         0.665035
1817  Zimbabwe       ZWE  2018         0.665035
1818  Zimbabwe       ZWE  2019        15.365996
1819  Zimbabwe       ZWE  2020         9.997246

[1820 rows x 4 columns]

In [10]:
df_enduse_complete.to_csv("../row_data/Aviation_freigth_inputed.csv")

In [12]:
import os

# set the directory path and the prefix string
directory = grandparentdir
prefix = 'frac_trns_mtkm_dem_freight'

frac_mtkm=[]
# iterate over all items in the directory
for item in os.listdir(directory):
    # check if the item is a directory and starts with the prefix
    if os.path.isdir(os.path.join(directory, item)) and item.startswith(prefix):
        frac_mtkm.append(item)
        # print the directory name
        print(item)
frac_mtkm

frac_trns_mtkm_dem_freight_water_borne
frac_trns_mtkm_dem_freight_road_heavy_freight
frac_trns_mtkm_dem_freight_rail_freight
frac_trns_mtkm_dem_freight_aviation

['frac_trns_mtkm_dem_freight_water_borne',
 'frac_trns_mtkm_dem_freight_road_heavy_freight',
 'frac_trns_mtkm_dem_freight_rail_freight',
 'frac_trns_mtkm_dem_freight_aviation']

In [14]:
for ssp_var in frac_mtkm:
    df_enduse_complete.to_csv(grandparentdir+'/'+ssp_var+"/row_data/Aviation_freigth_inputed.csv")