In [1]:
import pandas as pd

# SCOE Initial Per Household Electric Appliances Energy Consumption
consumpinit_scoe_gj_per_hh_residential_elec_appliances

## Baseline 
We take the baseline data (electricity consumption) from the [Residential Sector Energy Consumption Estimates, 2015-2021, Louisiana](https://www.eia.gov/state/seds/data.php?incfile=/state/seds/sep_use/res/use_res_LA.html&sid=LA),

In [4]:
years = [i for i in range(2015,2022)]
electricity_consumption = [31545,30650,29532,32066,30986,30441,30408]
zipped = list(zip(years, electricity_consumption))
df = pd.DataFrame(zipped, columns=['Year','electricity_consumption'])
df.head()

   Year  electricity_consumption
0  2015                    31545
1  2016                    30650
2  2017                    29532
3  2018                    32066
4  2019                    30986

Then this electricity consumption amounts are in Million
Kilowatthours so we need to convert it to Jouls.

We have that 1 Million Kilowatthours = 3.6e+12 Joules and 1 joule = 1e-9 Giga Joules so
1 Million Kilowatthours = 3600 Giga Joules

In [5]:
df["electricity_consumption"] = df["electricity_consumption"]*3600
df.head()

   Year  electricity_consumption
0  2015                113562000
1  2016                110340000
2  2017                106315200
3  2018                115437600
4  2019                111549600

Now we need this quantity expressed in Tera Joule per household, so it is used the [United States census bureau](https://data.census.gov/table/ACSDP1Y2022.DP02?q=Louisiana%20Families%20and%20Living%20Arrangements) to get the total households estimate per year

In [6]:
df["hh"] = [1727919,1731398,1737123,1737220,1739497,1751956,1783924] 
df.head()

   Year  electricity_consumption       hh
0  2015                113562000  1727919
1  2016                110340000  1731398
2  2017                106315200  1737123
3  2018                115437600  1737220
4  2019                111549600  1739497

Now we can calculate the Electricity consumption per household

In [7]:
df["electricity_consumption_per_hh"] = df["electricity_consumption"]/df["hh"]
df.head()

   Year  electricity_consumption       hh  electricity_consumption_per_hh
0  2015                113562000  1727919                       65.721831
1  2016                110340000  1731398                       63.728848
2  2017                106315200  1737123                       61.201884
3  2018                115437600  1737220                       66.449615
4  2019                111549600  1739497                       64.127504

Finally we have that the Appliances and electronics account account for about 23% of the total electricity consumption in US homes, so this value was taken as a representation for Louisiana

Reference 1: https://www.directenergy.com/en/learn/reduce-energy-costs/what-uses-most-electricity-in-my-home

Reference 2: https://www.eia.gov/energyexplained/use-of-energy/homes.php

In [8]:
df["electricity_consumption_per_hh"] = df["electricity_consumption_per_hh"]*0.23
df.head()

   Year  electricity_consumption       hh  electricity_consumption_per_hh
0  2015                113562000  1727919                       15.116021
1  2016                110340000  1731398                       14.657635
2  2017                106315200  1737123                       14.076433
3  2018                115437600  1737220                       15.283411
4  2019                111549600  1739497                       14.749326

Now we can save the input

In [9]:
df[["Year","electricity_consumption_per_hh"]].to_csv('../new_input.csv', index=False,header=False)