In [19]:
import pandas as pd
import numpy as np

In [20]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_electronics_tonne.csv')
df.head()

   year location_code  prodinit_ippu_electronics_tonne
0  2010           ABW                      3393.616262
1  2011           ABW                      2862.142911
2  2012           ABW                      2450.695948
3  2013           ABW                      2621.564997
4  2014           ABW                      2797.823912

In [21]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_electronics_tonne
1996  2015           USA                     1.036166e+08
1997  2016           USA                     1.086796e+08
1998  2017           USA                     1.104183e+08
1999  2018           USA                     1.110410e+08
2000  2019           USA                     1.159829e+08
2001  2020           USA                     1.234375e+08

In [22]:
df = df[["year","prodinit_ippu_electronics_tonne"]]
df

      year  prodinit_ippu_electronics_tonne
1996  2015                     1.036166e+08
1997  2016                     1.086796e+08
1998  2017                     1.104183e+08
1999  2018                     1.110410e+08
2000  2019                     1.159829e+08
2001  2020                     1.234375e+08

In [23]:
df["prodinit_ippu_electronics_tonne"] = df["prodinit_ippu_electronics_tonne"]*.0006
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_11128\3987926491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_electronics_tonne"] = df["prodinit_ippu_electronics_tonne"]*.0006

      year  prodinit_ippu_electronics_tonne
1996  2015                     62169.932711
1997  2016                     65207.784125
1998  2017                     66250.993507
1999  2018                     66624.603090
2000  2019                     69589.752628
2001  2020                     74062.494226

In [24]:
df.to_csv('../new_input.csv',index=False,header=False)