In [39]:
import pandas as pd

# SCOE Initial Per GDP Electric Appliances electricity Consumption
consumpinit_scoe_tj_per_mmmgdp_commercial_municipal_elec_appliances

## Baseline 
As this variable has the commercial_municipal category we need the Stationary emissions from commercial and municipal (including public services) activity. 
So we take the from the [Commercial Sector electricity Consumption Estimates](https://www.eia.gov/state/seds/data.php?incfile=/state/seds/sep_use/com/use_com_LA.html&sid=LA), the electricity consumption as a baseline from 2015 to 2024

In [40]:
years = [i for i in range(2015,2022)]
electricity_consumption = [24996,24896,24500,24691,24284,22399,22460]
zipped = list(zip(years, electricity_consumption))
df = pd.DataFrame(zipped, columns=['Year','electricity_consumption'])
df.head()

   Year  electricity_consumption
0  2015                    24996
1  2016                    24896
2  2017                    24500
3  2018                    24691
4  2019                    24284

Then this electricity consumption amounts are in Million
Kilowatthours so we need to convert it to Jouls.

We have that 1 Million Kilowatthours = 3.6e+12 Joules and 1 joule = 1e-12 Tera Joules so
1 Million Kilowatthours = 3.6 Tera Joules

In [41]:
df["electricity_consumption"] = df["electricity_consumption"]*3.6
df.head()

   Year  electricity_consumption
0  2015                  89985.6
1  2016                  89625.6
2  2017                  88200.0
3  2018                  88887.6
4  2019                  87422.4

Now we need this quantity expressed in Tera Joule per GDP so we get the [real GDP](https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.eia.gov%2Fstate%2Fseds%2Fsep_sum%2Fhtml%2Fxls%2Fuse_oi.xlsx&wdOrigin=BROWSELINK)

In [42]:
df["GDP"] = [233016,228429,233352,237298,237045,218422,221153] 

df.head()

   Year  electricity_consumption     GDP
0  2015                  89985.6  233016
1  2016                  89625.6  228429
2  2017                  88200.0  233352
3  2018                  88887.6  237298
4  2019                  87422.4  237045

Now we need the GDP in Billion US Dollars according to the SISEPUEDE [Units - Monetary](https://sisepuede.readthedocs.io/en/latest/general_data.html)

In [43]:
df["GDP"] = df["GDP"]/1000
df.head()

   Year  electricity_consumption      GDP
0  2015                  89985.6  233.016
1  2016                  89625.6  228.429
2  2017                  88200.0  233.352
3  2018                  88887.6  237.298
4  2019                  87422.4  237.045

Now we can calculate the Electricity consumption per GDP

In [44]:
df["electricity_consumption_per_gdp"] = df["electricity_consumption"]/df["GDP"]
df.head()

   Year  electricity_consumption      GDP  electricity_consumption_per_gdp
0  2015                  89985.6  233.016                       386.177773
1  2016                  89625.6  228.429                       392.356487
2  2017                  88200.0  233.352                       377.969762
3  2018                  88887.6  237.298                       374.582171
4  2019                  87422.4  237.045                       368.800861

Finally we have that the Appliances and electronics account for about 6.5% of the total electricity consumption in Louisiana according to some [statistics](https://gitnux.org/average-electric-bill-in-louisiana/)

In [45]:
df["electricity_consumption_per_gdp"] = df["electricity_consumption_per_gdp"]*0.065
df.head()

   Year  electricity_consumption      GDP  electricity_consumption_per_gdp
0  2015                  89985.6  233.016                        25.101555
1  2016                  89625.6  228.429                        25.503172
2  2017                  88200.0  233.352                        24.568035
3  2018                  88887.6  237.298                        24.347841
4  2019                  87422.4  237.045                        23.972056

Now we can save the input

In [47]:
df[["Year","electricity_consumption_per_gdp"]].to_csv('../new_input.csv', index=False,header=False)