In [2]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
ggpdir=os.path.dirname(grandparentdir)

sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)
sys.path.insert(0, ggpdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing'

In [3]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [4]:
#Socioeconomic varibles

#GDP
df_gdp_hist = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/historical/gdp_mmm_usd.csv')
df_gdp_proj = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/projected/gdp_mmm_usd.csv')

nation_gdp = sorted(set(df_gdp_proj['Nation'].values))

years_all = range(min(df_gdp_hist['Year'].values),max(df_gdp_proj['Year'].values)+1)
c_y_gdp = []
for c in nation_gdp:
    for y in years_all:
    
        try:
            gdp = df_gdp_hist.loc[(df_gdp_hist['Nation']==c) & (df_gdp_hist['Year']==y),]['gdp_mmm_usd'].values[0]
            
        except:
            gdp = df_gdp_proj.loc[(df_gdp_proj['Nation']==c) & (df_gdp_proj['Year']==y)]['gdp_mmm_usd'].values[0]
            
        c_y_gdp.append([c,y,gdp])

df_gdp_all = pd.DataFrame(c_y_gdp,columns=['Nation', 'Year', 'gdp_mmm_usd'])



#Rural population
df_popru_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/historical/population_gnrl_rural.csv')
df_popru_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/projected/population_gnrl_rural.csv')

#Urban population
df_popur_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/historical/population_gnrl_urban.csv')
df_popur_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/projected/population_gnrl_urban.csv')

nation_pop = sorted(set(df_popur_proj['Nation'].values))

years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop = []
for c in nation_pop:
    for y in years_all:
    
        try:
            pop_ur = df_popur_hist.loc[(df_popur_hist['Nation']==c) &
                                       (df_popur_hist['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_hist.loc[(df_popru_hist['Nation']==c) &
                                       (df_popru_hist['Year']==y),]['population_gnrl_rural'].values[0]
            
        except:
            pop_ur = df_popur_proj.loc[(df_popur_proj['Nation']==c) &
                                       (df_popur_proj['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_proj.loc[(df_popru_proj['Nation']==c) &
                                       (df_popru_proj['Year']==y),]['population_gnrl_rural'].values[0]
            
        c_y_pop.append([c,y,pop_ur,pop_ru])

df_pop_all = pd.DataFrame(c_y_pop,columns=['Nation', 'Year', 'population_gnrl_urban','population_gnrl_rural'])

#All Together
nation_pop_gdp = sorted(set(nation_pop).intersection(set(nation_gdp)))
years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop_gdp = []
for c in nation_pop_gdp:
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp])
df_pop_gdp_all = pd.DataFrame(c_y_pop_gdp,columns=['Nation', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd'])
df_pop_gdp_all

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd
0,Afghanistan,2011,7.212518e+06,2.290489e+07,35.369178
1,Afghanistan,2012,7.528589e+06,2.363279e+07,38.085386
2,Afghanistan,2013,7.865068e+06,2.440452e+07,40.801594
3,Afghanistan,2014,8.204880e+06,2.516592e+07,43.517802
4,Afghanistan,2015,8.535606e+06,2.587800e+07,46.234010
...,...,...,...,...,...
7275,Zimbabwe,2046,5.352032e+06,7.863317e+06,24.382002
7276,Zimbabwe,2047,5.384492e+06,7.807897e+06,26.002852
7277,Zimbabwe,2048,5.416953e+06,7.752477e+06,27.623703
7278,Zimbabwe,2049,5.449414e+06,7.697057e+06,29.244553
7279,Zimbabwe,2050,5.481874e+06,7.641637e+06,30.865404

In [5]:
#IEA DATA
df_IEA=pd.read_csv("../row_data/IEA_Energy_Industry.csv")

#Cross Walk with IEA data:
industries_correspondence = {
  'consumpinit_inen_energy_tj_per_tonne_production_electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'consumpinit_inen_energy_tj_per_tonne_production_plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'consumpinit_inen_energy_tj_per_tonne_production_chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'consumpinit_inen_energy_tj_per_tonne_production_cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'consumpinit_inen_energy_tj_per_tonne_production_glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing' : (0.7, 'Manufacturing [ISIC 10-18; 20-32]'), #OK
  'consumpinit_inen_energy_total_pj_agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'consumpinit_inen_energy_tj_per_tonne_production_textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'consumpinit_inen_energy_tj_per_tonne_production_metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'consumpinit_inen_energy_tj_per_tonne_production_lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'consumpinit_inen_energy_tj_per_tonne_production_paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  'consumpinit_inen_energy_tj_per_tonne_production_recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

(fraction,subsector) = industries_correspondence[var_name]

IEA_subsec=sorted(list(set(df_IEA['Subsector'].values)))

socioec_vars=['Nation', 'Year','population_gnrl_urban','population_gnrl_rural','gdp_mmm_usd']

columns = socioec_vars+IEA_subsec

def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

nation_pop_gdp_all=sorted(set(df_pop_gdp_all['Nation'].values))

df_enduse = df_IEA.loc[df_IEA['Subsector']==subsector]
df_enduse = df_enduse[df_enduse['Product'].str.startswith('Total final energy use (PJ)')]
#mask = (df_enduse == '..').any(axis=1)
#df_enduse = df_enduse.drop(index=df_enduse[mask].index)

nation_enduse = df_enduse['Country'].values
nation_pop_gdp_enduse = sorted(set(nation_pop_gdp_all).intersection(set(nation_enduse)))
years_all = range(min(df_pop_gdp_all['Year'].values),2020+1)
c_y_pop_gdp = []
for c in nation_pop_gdp_enduse:
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        end_use = df_enduse.loc[(df_enduse['Country']==c)][str(y)].values[0]
        
        if is_number(end_use):
            end_use=float(end_use)
            
            c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp,end_use])
        
df_pop_gdp_enduse = pd.DataFrame(c_y_pop_gdp,columns=['Nation', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd',
                                                    subsector+' Total (PJ)'])
df_pop_gdp_enduse

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd,Manufacturing [ISIC 10-18; 20-32] Total (PJ)
0,Albania,2011,1.546929e+06,1.358266e+06,21.159910,14.33
1,Albania,2012,1.575788e+06,1.324613e+06,21.865577,10.67
2,Albania,2013,1.603505e+06,1.291587e+06,22.571244,10.63
3,Albania,2014,1.630119e+06,1.258985e+06,23.276911,14.40
4,Albania,2015,1.654503e+06,1.226200e+06,23.982578,11.78
...,...,...,...,...,...,...
511,Uruguay,2019,3.303391e+06,1.583396e+05,53.756413,84.02
512,Uzbekistan,2014,1.564029e+07,1.511741e+07,92.870937,216.35
513,Uzbekistan,2015,1.588419e+07,1.541471e+07,97.456825,217.16
514,Uzbekistan,2016,1.613096e+07,1.571694e+07,102.805785,212.49
515,Uzbekistan,2017,1.637244e+07,1.601616e+07,108.154744,211.98

In [17]:
nation_mean=[]
for nation in sorted(set(df_pop_gdp_enduse['Nation'])):
    values=df_pop_gdp_enduse.loc[df_pop_gdp_enduse['Nation']==nation][subsector+' Total (PJ)'].values
    nation_mean.append([nation,np.mean(values)])
mean_df=pd.DataFrame(nation_mean,columns=['Nation','end_use_mean'])
mean_df

                    Nation  end_use_mean
0                  Albania     13.627000
1                Argentina    564.033333
2                  Armenia     11.044000
3                Australia    970.855000
4                  Austria    365.216000
5               Azerbaijan     42.596667
6                  Belarus    174.502222
7                  Belgium    494.534000
8   Bosnia and Herzegovina     47.430000
9                   Brazil   3492.433000
10                Bulgaria    103.955000
11                  Canada   1940.925000
12                   Chile    247.773000
13                Colombia    187.826667
14                 Croatia     42.414000
15                  Cyprus      8.426000
16          Czech Republic    331.055000
17                 Denmark     82.627000
18                 Estonia     19.054000
19                 Finland    444.664000
20                  France   1283.667000
21                 Georgia     27.077000
22                 Germany   2632.861000
23                  Greece    113.341000
24                 Hungary    171.748000
25                 Ireland     79.275000
26                   Italy   1116.035000
27                   Japan   4411.650000
28              Kazakhstan    719.720000
29                  Latvia     31.956000
30               Lithuania     41.728000
31              Luxembourg     26.159000
32                   Malta      2.014000
33                  Mexico   1442.624000
34                 Morocco    100.913000
35             Netherlands    617.406000
36             New Zealand    186.116000
37                  Norway    238.737000
38                  Poland    706.675000
39                Portugal    181.901000
40                 Romania    255.297000
41                  Serbia     98.352000
42         Slovak Republic    193.451000
43                Slovenia     50.451000
44            South Africa    934.224444
45                   Spain    815.938000
46                  Sweden    466.741000
47             Switzerland    142.229000
48                 Ukraine   1014.278889
49          United Kingdom   1018.004000
50           United States  10255.794000
51                 Uruguay     70.964444
52              Uzbekistan    214.495000

In [20]:
#Linear regression

from sklearn.linear_model import Lasso 
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import normalize

X=df_pop_gdp_enduse[['population_gnrl_urban','population_gnrl_rural','gdp_mmm_usd']]
Y=df_pop_gdp_enduse[subsector+' Total (PJ)']

linear_model = LinearRegression()
linear_model.fit(X,Y)
print(linear_model.coef_)

[ 1.46157285e-05 -1.39024910e-05  4.88192936e-01]

In [31]:
years_hist=range(min(df_pop_gdp_enduse['Year'].values),max(df_pop_gdp_enduse['Year'].values)+1)

countries = sorted(set(df_pop_gdp_all['Nation'].values))

coun_year_PJ=[]
coun_year_dato=[]

for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_hist:
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==count)&(df_gdp_all['Year']==year)]['gdp_mmm_usd'].values[0]

        
        if (count,year) in zip(df_pop_gdp_enduse['Nation'].values,df_pop_gdp_enduse['Year'].values):
            
            PJ=df_pop_gdp_enduse.loc[(df_pop_gdp_enduse['Nation'] ==count) & 
                        (df_pop_gdp_enduse['Year']== year), subsector+' Total (PJ)'].values[0]
        else:
            
            try:
                
                PJ=mean_df.loc[mean_df['Nation'] ==count,'end_use_mean'].values[0]
                
            except:
                    
                X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == count) & 
                                (df_pop_gdp_all['Year']== year)][['population_gnrl_urban',
                                                                  'population_gnrl_rural',
                                                                  'gdp_mmm_usd']]
                PJ =linear_model.predict(X_test)[0]

            if PJ<0:
                PJ=0
        dato=fraction*PJ*1e3/gdp
        
        coun_year_dato.append([count,iso3,year,dato])
        coun_year_PJ.append([count,iso3,year,PJ])

        

df_historical_out = pd.DataFrame(coun_year_dato, columns=['Nation','iso_code3', 'Year',var_name])
df_enduse_complete = pd.DataFrame(coun_year_PJ,columns=['Nation','iso_code3','Year',subsector+' Total (PJ)'])

years_proj=range(max(years_hist)+1,2051)
coun_year_dato=[]

for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_proj:
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==count)&(df_gdp_all['Year']==year)]['gdp_mmm_usd'].values[0]

        
        if (count,year) in zip(df_pop_gdp_enduse['Nation'].values,df_pop_gdp_enduse['Year'].values):
            PJ=df_pop_gdp_enduse.loc[(df_pop_gdp_enduse['Nation'] ==count) & 
                        (df_pop_gdp_enduse['Year']== year), subsector+' Total (PJ)'].values[0]
        else:
            try:
                
                PJ=mean_df.loc[mean_df['Nation'] ==count,'end_use_mean'].values[0]
                
            except:
                    
                X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == count) & 
                                (df_pop_gdp_all['Year']== year)][['population_gnrl_urban',
                                                                  'population_gnrl_rural',
                                                                  'gdp_mmm_usd']]
                PJ =linear_model.predict(X_test)[0]

            if PJ<0:
                PJ=0
                
        dato=fraction*PJ*1e3/gdp
        
        coun_year_dato.append([count,iso3,year,dato])
        
df_projected_out = pd.DataFrame(coun_year_dato, columns=['Nation','iso_code3', 'Year',var_name])

In [32]:
df_enduse_complete

,Nation,iso_code3,Year,Manufacturing [ISIC 10-18; 20-32] Total (PJ)
0,Afghanistan,AFG,2011,0.0
1,Afghanistan,AFG,2012,0.0
2,Afghanistan,AFG,2013,0.0
3,Afghanistan,AFG,2014,0.0
4,Afghanistan,AFG,2015,0.0
...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0.0
1816,Zimbabwe,ZWE,2017,0.0
1817,Zimbabwe,ZWE,2018,0.0
1818,Zimbabwe,ZWE,2019,0.0
1819,Zimbabwe,ZWE,2020,0.0

In [33]:
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2011,0.0
1,Afghanistan,AFG,2012,0.0
2,Afghanistan,AFG,2013,0.0
3,Afghanistan,AFG,2014,0.0
4,Afghanistan,AFG,2015,0.0
...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0.0
1816,Zimbabwe,ZWE,2017,0.0
1817,Zimbabwe,ZWE,2018,0.0
1818,Zimbabwe,ZWE,2019,0.0
1819,Zimbabwe,ZWE,2020,0.0

In [34]:
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2021,0.000000
1,Afghanistan,AFG,2022,0.000000
2,Afghanistan,AFG,2023,0.000000
3,Afghanistan,AFG,2024,0.000000
4,Afghanistan,AFG,2025,0.000000
...,...,...,...,...
5455,Zimbabwe,ZWE,2046,879.670415
5456,Zimbabwe,ZWE,2047,879.652126
5457,Zimbabwe,ZWE,2048,879.635983
5458,Zimbabwe,ZWE,2049,879.621630
5459,Zimbabwe,ZWE,2050,879.608784

In [25]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_enduse_complete.to_csv('../row_data/'+subsector+'_Total_PJ'+'.csv')
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')