In [13]:
import pandas as pd
import numpy as np

In [14]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_paper_tonne.csv')
df.head()

   year location_code  prodinit_ippu_paper_tonne
0  2010           ABW                7115.463439
1  2011           ABW                5558.399167
2  2012           ABW                6412.828488
3  2013           ABW                5587.370323
4  2014           ABW                6119.479747

In [15]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_paper_tonne
1996  2015           USA               8.544172e+07
1997  2016           USA               8.492205e+07
1998  2017           USA               8.581493e+07
1999  2018           USA               8.470546e+07
2000  2019           USA               8.320155e+07
2001  2020           USA               8.386227e+07

In [16]:
df = df[["year","prodinit_ippu_paper_tonne"]]
df

      year  prodinit_ippu_paper_tonne
1996  2015               8.544172e+07
1997  2016               8.492205e+07
1998  2017               8.581493e+07
1999  2018               8.470546e+07
2000  2019               8.320155e+07
2001  2020               8.386227e+07

In [17]:
df["prodinit_ippu_paper_tonne"] = df["prodinit_ippu_paper_tonne"]*0.1
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_24488\1754917264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_paper_tonne"] = df["prodinit_ippu_paper_tonne"]*0.1

      year  prodinit_ippu_paper_tonne
1996  2015               8.544172e+06
1997  2016               8.492205e+06
1998  2017               8.581493e+06
1999  2018               8.470546e+06
2000  2019               8.320155e+06
2001  2020               8.386227e+06

In [18]:
df.to_csv('../new_input.csv',index=False,header=False)