In [7]:
import pandas as pd
import numpy as np

In [8]:
# Loading the baseline
df = pd.read_csv('../raw_data/global_prodinit_ippu_glass_tonne.csv')
df.head()

   year location_code  prodinit_ippu_glass_tonne
0  2010           ABW                 520.617707
1  2011           ABW                 512.264627
2  2012           ABW                 541.763236
3  2013           ABW                 404.778477
4  2014           ABW                 464.198088

In [9]:
# Fix the column names
df = df[(df['location_code']=='USA') & (df['year']>2014)]
df

      year location_code  prodinit_ippu_glass_tonne
1996  2015           USA               6.447156e+06
1997  2016           USA               6.648761e+06
1998  2017           USA               6.783057e+06
1999  2018           USA               6.957343e+06
2000  2019           USA               6.797127e+06
2001  2020           USA               6.785441e+06

In [10]:
df = df[["year","prodinit_ippu_glass_tonne"]]
df

      year  prodinit_ippu_glass_tonne
1996  2015               6.447156e+06
1997  2016               6.648761e+06
1998  2017               6.783057e+06
1999  2018               6.957343e+06
2000  2019               6.797127e+06
2001  2020               6.785441e+06

In [11]:
df["prodinit_ippu_glass_tonne"] = df["prodinit_ippu_glass_tonne"]*0.012
df

C:\Users\L03558343\AppData\Local\Temp\ipykernel_24488\3296087031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prodinit_ippu_glass_tonne"] = df["prodinit_ippu_glass_tonne"]*0.012

      year  prodinit_ippu_glass_tonne
1996  2015               77365.872011
1997  2016               79785.128234
1998  2017               81396.681773
1999  2018               83488.113026
2000  2019               81565.524338
2001  2020               81425.295336

In [12]:
df.to_csv('../new_input.csv',index=False,header=False)