In [110]:
import pandas as pd
import numpy as np

In [111]:
# Loading the baseline
df = pd.read_excel('../raw_data/World Energy Balances Highlights 2023.xlsx',sheet_name=3)
df.head()

,Source: IEA (2023). All rights reserved. (https://www.iea.org/terms),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,Country,Product,Flow,NoCountry,NoProduct,NoFlow,1971,1972,1973,1974,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
1,Australia,"Coal, peat and oil shale",Production (PJ),01. Australia,"01. Coal, peat and oil shale",01. Production (PJ),1368.251838,1648.414248,1685.223676,1640.362098,...,11074.77871,11950.78794,12501.00154,12223.55369,12256.93808,12323.3258,12596.41582,12334.88697,11467.56954,11433.91978
2,Australia,"Coal, peat and oil shale",Imports (PJ),01. Australia,"01. Coal, peat and oil shale",02. Imports (PJ),0,0,0,0,...,2.574396,5.240999,6.978797,6.829994,7.783701,12.364454,17.03485,19.2703,12.416851,15.0003
3,Australia,"Coal, peat and oil shale",Exports (PJ),01. Australia,"01. Coal, peat and oil shale",03. Exports (PJ),-541.424001,-614.718001,-738.939398,-745.382946,...,-9101.059456,-10166.8869,-10634.4478,-10552.5051,-10248.0298,-10333.4232,-10629.0366,-10504.852,-9866.188301,-9697.0907
4,Australia,"Coal, peat and oil shale",Total energy supply (PJ),01. Australia,"01. Coal, peat and oil shale",04. Total energy supply (PJ),884.29747,923.250159,945.54188,928.32307,...,1831.201248,1736.5671,1797.035545,1863.051458,1996.773936,1930.457749,1956.712871,1782.618877,1683.993595,1919.198979

In [112]:
# Fix the column names
df.columns = df.iloc[0]
df = df.iloc[1:]
df.head()

,Country,Product,Flow,NoCountry,NoProduct,NoFlow,1971,1972,1973,1974,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
1,Australia,"Coal, peat and oil shale",Production (PJ),01. Australia,"01. Coal, peat and oil shale",01. Production (PJ),1368.251838,1648.414248,1685.223676,1640.362098,...,11074.77871,11950.78794,12501.00154,12223.55369,12256.93808,12323.3258,12596.41582,12334.88697,11467.56954,11433.91978
2,Australia,"Coal, peat and oil shale",Imports (PJ),01. Australia,"01. Coal, peat and oil shale",02. Imports (PJ),0,0,0,0,...,2.574396,5.240999,6.978797,6.829994,7.783701,12.364454,17.03485,19.2703,12.416851,15.0003
3,Australia,"Coal, peat and oil shale",Exports (PJ),01. Australia,"01. Coal, peat and oil shale",03. Exports (PJ),-541.424001,-614.718001,-738.939398,-745.382946,...,-9101.059456,-10166.8869,-10634.4478,-10552.5051,-10248.0298,-10333.4232,-10629.0366,-10504.852,-9866.188301,-9697.0907
4,Australia,"Coal, peat and oil shale",Total energy supply (PJ),01. Australia,"01. Coal, peat and oil shale",04. Total energy supply (PJ),884.29747,923.250159,945.54188,928.32307,...,1831.201248,1736.5671,1797.035545,1863.051458,1996.773936,1930.457749,1956.712871,1782.618877,1683.993595,1919.198979
5,Australia,"Coal, peat and oil shale","Electricity, CHP and heat plants (PJ)",01. Australia,"01. Coal, peat and oil shale","05. Electricity, CHP and heat plants (PJ)",-516.538554,-569.92192,-577.900491,-617.948468,...,-1733.777498,-1639.902404,-1704.823218,-1753.358738,-1723.631613,-1647.423349,-1608.995635,-1515.11305,-1467.357844,..

In [113]:
# some data cleaning
df.replace(to_replace='..', value=0,inplace=True)
df.head()

C:\Users\L03558343\AppData\Local\Temp\ipykernel_15496\1704604500.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(to_replace='..', value=0,inplace=True)

,Country,Product,Flow,NoCountry,NoProduct,NoFlow,1971,1972,1973,1974,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
1,Australia,"Coal, peat and oil shale",Production (PJ),01. Australia,"01. Coal, peat and oil shale",01. Production (PJ),1368.251838,1648.414248,1685.223676,1640.362098,...,11074.778710,11950.787940,12501.001540,12223.553690,12256.93808,12323.3258,12596.41582,12334.88697,11467.56954,11433.919780
2,Australia,"Coal, peat and oil shale",Imports (PJ),01. Australia,"01. Coal, peat and oil shale",02. Imports (PJ),0.000000,0.000000,0.000000,0.000000,...,2.574396,5.240999,6.978797,6.829994,7.783701,12.364454,17.03485,19.2703,12.416851,15.000300
3,Australia,"Coal, peat and oil shale",Exports (PJ),01. Australia,"01. Coal, peat and oil shale",03. Exports (PJ),-541.424001,-614.718001,-738.939398,-745.382946,...,-9101.059456,-10166.886900,-10634.447800,-10552.505100,-10248.0298,-10333.4232,-10629.0366,-10504.852,-9866.188301,-9697.090700
4,Australia,"Coal, peat and oil shale",Total energy supply (PJ),01. Australia,"01. Coal, peat and oil shale",04. Total energy supply (PJ),884.297470,923.250159,945.541880,928.323070,...,1831.201248,1736.567100,1797.035545,1863.051458,1996.773936,1930.457749,1956.712871,1782.618877,1683.993595,1919.198979
5,Australia,"Coal, peat and oil shale","Electricity, CHP and heat plants (PJ)",01. Australia,"01. Coal, peat and oil shale","05. Electricity, CHP and heat plants (PJ)",-516.538554,-569.921920,-577.900491,-617.948468,...,-1733.777498,-1639.902404,-1704.823218,-1753.358738,-1723.631613,-1647.423349,-1608.995635,-1515.11305,-1467.357844,0.000000

In [114]:
#Select jus US data
df = df[df['Country']=='United States']
df.head()

,Country,Product,Flow,NoCountry,NoProduct,NoFlow,1971,1972,1973,1974,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
3997,United States,"Coal, peat and oil shale",Production (PJ),38. United States,"01. Coal, peat and oil shale",01. Production (PJ),13122.364590,14078.489230,13957.104320,14215.064450,...,19978.806170,20307.273810,18056.911160,14589.484440,15624.31765,15448.71671,14481.73163,10787.51442,11743.23052,12121.191860
3998,United States,"Coal, peat and oil shale",Imports (PJ),38. United States,"01. Coal, peat and oil shale",02. Imports (PJ),7.079247,5.877689,30.055991,120.307870,...,211.690110,266.380959,253.205631,217.971607,170.660449,130.800141,144.740414,110.870307,118.642302,140.680466
3999,United States,"Coal, peat and oil shale",Exports (PJ),38. United States,"01. Coal, peat and oil shale",03. Exports (PJ),-1405.990493,-1379.586339,-1299.385070,-1463.380460,...,-2850.334574,-2394.679825,-1840.742027,-1515.904745,-2409.603686,-2871.26144,-2334.729183,-1719.964981,-2152.009891,-2164.811304
4000,United States,"Coal, peat and oil shale",Total energy supply (PJ),38. United States,"01. Coal, peat and oil shale",04. Total energy supply (PJ),11696.972560,12114.797760,13022.932240,13065.393710,...,18094.904940,18072.073490,15660.181880,14300.841380,13847.65527,13426.29193,11510.27941,9280.479989,10635.14659,10089.202030
4001,United States,"Coal, peat and oil shale","Electricity, CHP and heat plants (PJ)",38. United States,"01. Coal, peat and oil shale","05. Electricity, CHP and heat plants (PJ)",-7641.389108,-8398.701599,-9081.684189,-9120.351188,...,-16623.945270,-16580.068470,-14268.162170,-13228.551540,-12915.46658,-12275.90731,-10351.6242,-8332.945062,-9642.307796,0.000000

In [115]:
# select just other SE
df=df[df['Flow']=='Other final consumption (PJ)']
df.head()

,Country,Product,Flow,NoCountry,NoProduct,NoFlow,1971,1972,1973,1974,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022 Provisional
4008,United States,"Coal, peat and oil shale",Other final consumption (PJ),38. United States,"01. Coal, peat and oil shale",12. Other final consumption (PJ),338.466363,324.73458,303.241358,407.748265,...,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0.0
4020,United States,"Crude, NGL and feedstocks",Other final consumption (PJ),38. United States,"02. Crude, NGL and feedstocks",12. Other final consumption (PJ),0.000000,0.00000,0.000000,0.000000,...,103.236662,105.025849,180.109119,125.511597,185.464714,238.469812,356.20058,381.385769,453.090493,0.0
4032,United States,Oil products,Other final consumption (PJ),38. United States,03. Oil products,12. Other final consumption (PJ),3740.525902,3956.23670,4343.506297,4196.445098,...,5424.603099,5803.148396,5424.864200,5397.239397,5477.586073,5604.899594,5756.402624,5643.260605,5781.713915,0.0
4044,United States,Natural gas,Other final consumption (PJ),38. United States,04. Natural gas,12. Other final consumption (PJ),0.000000,0.00000,0.000000,0.000000,...,637.322400,666.328500,704.503801,844.682403,1069.7976,1076.1237,1059.771839,463.543701,739.267438,0.0
4056,United States,Nuclear,Other final consumption (PJ),38. United States,05. Nuclear,12. Other final consumption (PJ),0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0.0

In [116]:
# Now we can load the proportions
df_prop=pd.read_excel('../raw_data/frac_scoe_heat_energy_proportion.xlsx')
df_prop.head()

,WEBH2021_var,SISEPUEDE_var,Proportion
0,"Coal, peat and oil shale",frac_scoe_heat_energy_other_se_coal,0.90
1,"Coal, peat and oil shale",frac_scoe_heat_energy_other_se_solid_biomass,0.10
2,Oil products,frac_scoe_heat_energy_other_se_diesel,0.25
3,Oil products,frac_scoe_heat_energy_other_se_gasoline,0.40
4,Oil products,frac_scoe_heat_energy_other_se_kerosene,0.10

In [117]:
np.unique(df_prop['SISEPUEDE_var'].values)

array(['frac_scoe_heat_energy_other_se_coal',
       'frac_scoe_heat_energy_other_se_diesel',
       'frac_scoe_heat_energy_other_se_electricity',
       'frac_scoe_heat_energy_other_se_gasoline',
       'frac_scoe_heat_energy_other_se_hydrocarbon_gas_liquids',
       'frac_scoe_heat_energy_other_se_kerosene',
       'frac_scoe_heat_energy_other_se_natural_gas',
       'frac_scoe_heat_energy_other_se_solid_biomass'], dtype=object)

In [118]:
df_prop_var = df_prop[df_prop['SISEPUEDE_var']=='frac_scoe_heat_energy_other_se_solid_biomass']
fuel       = df_prop_var['WEBH2021_var'].values[0]
p = df_prop_var['Proportion'].values[0]

In [119]:
years=list(range(2015,2022))
data = []
for year in years:
    f = df[df['Product']==fuel][year].values[0]
    t = df[df['Product']=='Total'][year].values[0]
    data.append(p*f/t)
data

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [120]:
pd.DataFrame(zip(years,data)).to_csv('../new_input.csv',index=False,header=False)